.footer {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  --bs-text-opacity: 1;
  color: #aeb6bd !important;
  background-color: #f4f4f4;
  width: 100%;
  position: absolute;
  bottom: 0;
}
